body{
    margin: 0 auto;
    background-color:	#FFFFFF ;
}
/* NAVEGAÇÃO */
.container{
    margin: 0 auto;
    width: 960px;
}
.nav_main{
    background-color:#03374F;
}
h1{
}
.nav_main nav{
    display: flex;
    color: white;
    margin-left:25px;
}
.nav_main ul{
    display: flex;
    margin-left: 300px;
}
.nav_main ul li{
    list-style: none;
    transition: background-color 1s;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    margin-left: 30px;
}
.nav_main ul li a{
    text-decoration: none;
    color: white;
    
}
.nav_main ul li:hover{
    background-color: navy;
}
